*{
    font-family: "Nunito Sans", sans-serif ;
    margin: 0; 
  }

body{
    background-color: rgb(232, 239, 245);
}
.page-outside{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.for-parr{
  color: rgb(63, 61, 61);
  margin-top: 5px;
}
.main-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.main-page::-webkit-scrollbar{
  width: 7px;
}
.main-page::-webkit-scrollbar-thumb{
  background-color: rgb(109, 108, 108);
  /* border-radius: 3px; */
}
.title-con{
  width: 95%;
}
.subtitle{
  color: rgb(41, 40, 40);
}

.btn-con{
  width: 220px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.btn{
  border: none;
  height: 43px;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 200ms ease;
  font-size: 15px;
}
.btn-add{
  background-color: rgb(41, 177, 0);
  color: white;
}
.btn-full{
  width: 100%;
}
.btn-add-disabled{
  background-color: rgb(41, 177, 0, 0.6);
}
.btn-add:hover{
  background-color: rgb(46, 196, 0);
}
.btn-res{
  background-color: rgb(177, 170, 170);
  color: rgb(17, 17, 17);
}
.btn-res:hover{
  background-color: rgb(105, 103, 103);
}
.loading-full-con{
  position: absolute;
  width: 100;
}
.input-date{
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 18px;
  border: 1px solid rgb(187, 184, 184);
  padding-left: 10px;
  border-radius: 3px;
}
.input-date:hover{
  border: 1px solid black;
}

.subtitle{
  color: rgb(61, 60, 60);
}
/* select button */
.select-button-con{
  width: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.select-button-con{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.select-button-item{
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid grey;
  display: flex;
  border-radius: 3px;
  color: grey;
  align-items: center;
  justify-items: center;
  height: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-left: 5px;
}

.selected-buttom{
  background-color: rgb(79, 79, 248);
  color: white;
}
.error-message{
  width: 96%;
  height: 40px;
  position: relative;
  top: 13px;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(248, 1, 1, 0.6);
  transition: all 0.2s ease;
  color: rgb(122, 2, 2);
}
.error-message h4{
  transition: all 0.2s ease;
}
.filter-con{
  border: none;
  width: 70px;
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
  color: rgb(80, 77, 77);
  border-radius: 3px;
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.filter-active{
  color: rgb(8, 196, 17);
}
.filter-con:hover{
  color: rgb(8, 196, 17);
}
.filter-selectinput{
  width: 100%;
  height: 40px;
  margin-top: 5px;
  font-size: 16px;
  padding: 5px;
  transition: all 0.5s ease;
  border-radius: 4px;
  border: 1px solid rgb(165, 163, 163);
}
.fs-hiden{
  color: white;
}
.filter-selectinput option{
  height: 34px;
  transition: all 0.5s ease;
}