.app-con{
    width: 100%;
    height: 100vh;
    transition: all 0.2ms ease;
}
.splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}
.splash-screen h1{
    color: rgb(57, 57, 226);
}
.app-layout{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 200px 1fr ;
    transition: all 0.2s ease;
}
.app-db-minimixe{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 72px 1fr ;
    transition: all 0.2s ease;
}
.targets-con{
    width: 98%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.data-section{
    margin-top: 20px;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.target-body{
    width: 270px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(219, 217, 217);
    border-left: 5px solid green;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}
.target-texts{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: rgb(61, 59, 59);
}
.target-body svg{
    font-size: 50px;
    color: green;
}
.t-pro{
    border-left: 5px solid #800080;
}
.t-pro svg{
    color: #800080;
}
.t-ma{
    border-left: 5px solid red;

}
.t-ma svg{
    color: red;
}
.t-cli{
    border-left: 5px solid gold;
}
.t-cli svg{
    color: gold;
}
.home-table-con{
    width: 37%;
    height: 440px;
    box-shadow: 0 0 2px rgb(219, 217, 217);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}
.home-table-con table{
    margin-top: 10px;
    width: 95%;
}
.home-sales-con{
    border-radius: 3px;
    width: 60%;
    height: 440px;
    background-color: #fff;
}


/* @media(max-width: 500px){
    .dashboard-section{
        display: none;
    }
    .app-layout{
        grid-template-columns: 1fr;
    }
    .app-db-minimixe{
        grid-template-columns: 1fr;
    }
} */