.fileName-body{
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.img-form-btn{
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid green;
  color: green;
  cursor: pointer;
}
.img-form-btn svg{
  font-size: 26px;
}

.img-form-btn-disable{
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(2, 126, 2, 0.3);
  color: rgb(2, 126, 2, 0.3);
  cursor: pointer;
}
.img-form-btn-disable svg{
  font-size: 26px;
}
